* {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    margin: 20px;
    font-size: 3em;
    display: flex;
    justify-content: center;
    text-decoration: underline 10px;
}

.alien-fleet {
    height: 60vh;
    width: 600px;
    margin: auto;
}

.alien-fleet > div {
    justify-content: space-around;
    padding: 5px;
}

.mothership {
    display: grid;
    grid-template-rows: repeat(1, 100px);
    align-content: center;
}

.defence-ships {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    align-content: center;
}

.attack-ships {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 20px;
    margin: 20px;
}

.ship-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ship-container > p {
    color: red;
    margin: 0;
    font-size: 0.8em;
}

.stats-menu {
    list-style: none;
    padding: 5px;
    margin: 0;
    background-color: rgb(225, 0, 255, 0.75);
    border-radius: 10px;
    position: absolute;
    display: none;
}

.ship-container:hover .stats-menu {
    display: block;
}


/* control panel and button styles */

.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

.control-panel > button {
    margin: 10px;
    font-size: 1.25em;
    width: 200px;
}

.control-panel .fire-btn {
    height: 2.5em;
    border-radius: 10px;
    background-color: crimson;
    color: yellow;
    border: 2px solid yellow;
}

.control-panel .reset-btn {
    border-radius: 10px;
    font-size: 1em;
    width: 100px;
    background-color: white;
    border: 2px solid black;
}

.fire-btn:hover {
    color: crimson;
    background-color: yellow;
    border-color: crimson;
}

.reset-btn:hover {
    color: white;
    background-color: black;
    border-color: white;
}

.victory-msg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.victory-msg > h1, h4, button {
    margin: 10px;
}

.victory-msg > button {
    font-size: 1.2em;
}

.hit {
    filter: brightness(0) invert(1);
}
