* {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: red;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    margin: 20px;
    font-size: 3em;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: underline 10px;
}

.alien-fleet {
    height: 60vh;
    width: 600px;
    margin: 10px auto;
}

.alien-fleet > div {
    height: 33.33%;
    width: 100%;
    justify-content: space-around;
}

.ship-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.stats-menu {
    list-style: none;
    padding: 5px;
    margin: 0;
    background-color: pink;
    border-radius: 10px;
    position: absolute;
    display: none;
}

.mothership {
    display: grid;
    grid-template-rows: repeat(1, 100px);
    grid-template-columns: repeat(1, 100px);
}

.defence-ships {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(1, 80px);
    align-content: center;
}

.attack-ships {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(2, 60px);
}


.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

.control-panel > button {
    margin: 10px;
    font-size: 1.25em;
    width: 200px;
}

.control-panel .fire-btn {
    height: 2.5em;
    border-radius: 10px;
    background-color: crimson;
    color: yellow;
    border: 2px solid yellow;
}

.control-panel .reset-btn {
    border-radius: 10px;
    font-size: 1em;
    width: 100px;
    background-color: white;
    border: 2px solid black;
}

.fire-btn:hover {
    color: crimson;
    background-color: yellow;
    border-color: crimson;
}

.reset-btn:hover {
    color: white;
    background-color: black;
    border-color: white;
}

.hit {
    filter: brightness(0) invert(1);
}

.hide {
    display: none;
}