* {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: red;
}

p {
    position: absolute;
    height: 13%;
}

.stats-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 6px;
    border-radius: 10px;
    list-style: none;
    background-color: rgba(255, 100, 237, 0.75);
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    margin: 20px;
    font-size: 3em;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: underline 10px;
}

.defence-fleet {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: center;
}

.defence-fleet > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.defence-fleet .mothership {
    grid-column: 1 / -1;
}

.defence-fleet .defence-ship > img {
    height: 50%;
}

.attack-fleet {
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(2, 80px);
    gap: 1px;
    justify-content: center;
    margin-top: 1px;
}

.attack-fleet > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.attack-fleet .attack-ship > img {
    height: 40%;
}

.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

.control-panel > button {
    margin: 10px;
    font-size: 1.25em;
    width: 200px;
}

.control-panel .fire-btn {
    height: 2.5em;
    border-radius: 10px;
    background-color: crimson;
    color: yellow;
    border: 2px solid yellow;
}

.control-panel .reset-btn {
    border-radius: 10px;
    font-size: 1em;
    width: 100px;
    background-color: white;
    border: 2px solid black;
}

.fire-btn:hover {
    color: crimson;
    background-color: yellow;
    border-color: crimson;
}

.reset-btn:hover {
    color: white;
    background-color: black;
    border-color: white;
}

.hit {
    filter: brightness(0) invert(1);
}

.hide {
    display: none;
}