.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;

    button {
        font-size: 2rem;
        height: 50px;
        width: 50px;
        border: 1px black solid;
        background-color: white;

        &:hover {
            background-color: black;
            color: white;
            border-color: white;
        }
    }

    h1 {
        font-size: 2.5rem;
    }
}