.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(2, 200px);
}