@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

body {
    background: linear-gradient(to top, pink, white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}

.scoreboard > div {
    margin: 0 10px;
}

.scoreboard .scores {
    border: 2px solid black;
    padding: 2px 8px;
    border-radius: 10px;
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(3, 125px);
    grid-template-rows: repeat(3, 125px);
    margin: 50px;
}

.grid-square {
    font-size: 5rem;
    font-family: 'Bradley-Hand', 'Indie Flower', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 3px solid black;
}

.grid-square:first-child,
.grid-square:nth-child(2),
.grid-square:nth-child(3) {
    border-top: none;
}

.grid-square:nth-child(1),
.grid-square:nth-child(4),
.grid-square:nth-child(7) {
    border-left: none;
}

.grid-square:nth-child(3),
.grid-square:nth-child(6),
.grid-square:nth-child(9) {
    border-right: none;
}

.grid-square:nth-child(7),
.grid-square:nth-child(8),
.grid-square:last-child {
    border-bottom: none;
}


.control-panel > button {
    font-size: 1.2rem;
    width: 8rem;
    height: 3.5rem;
    margin: 0 20px;
    background-color: rgba(255,255,255, .75);
    border: 2px solid black;
    border-radius: 10px;
}

.control-panel > button:hover {
    background-color: white;
}

#draw {
    position: absolute;
    font-size: 5rem;
    background-color: rgba(255,255,255, 0.9);
    padding: 60px;
    border-radius: 50px;
    border: 3px dashed crimson;
    color: brown;
    display: none;

}

.show {
    display: block;
}

.active {
    text-decoration: underline;
    color: red;
}

.filled {
    cursor: not-allowed;
}